.form
  display: grid
  grid-template-columns: auto minmax(320px, 1440px) auto

  &Row
    display: grid
    grid-column: 2/3
    padding: 0 30px

  &Top
    text-align: center
    margin-bottom: 90px
    border-collapse: separate
    border-bottom-width: 1px
    padding-bottom: 20px

  &Title
    margin-bottom: 10px

  &Right
    display: grid
    grid-template-columns: 1fr auto
    justify-content: space-between

  &Info
    max-width: 320px
    width: 100%
    text-align: center

  &InfoText
    font-size: 30px
    line-height: 28px
    font-style: italic
    font-weight: 500
    margin-bottom: 20px

  &InfoList
    display: flex
    flex-direction: column
    gap: 15px

  &InfoLink
    display: block
    width: 100%

  &Bottom
    max-width: 900px
    margin-top: 25px
    position: relative
    padding-left: 40px

    &:before
      position: absolute
      content: "!"
      top: 0
      left: 0
      font-size: 80px
      line-height: 70px
      color: red
      font-style: normal
      font-weight: 900
      font-family: "Open Sans", sans-serif


@media (max-width: 1280px)
  .form
    &Right
      display: grid
      grid-template-columns: 1fr
      justify-content: center
      justify-items: center

    &Info
      max-width: 800px
      width: 100%

@media (max-width: 991px)
  .form
    &Top
      margin-bottom: 20px
      border-collapse: separate
      border-bottom-width: 1px
      padding-bottom: 20px



